* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    /*background-image: url(/bg_forest.png);
    background-repeat: repeat-x;
    background-size: 100vw 100vh;
    width: 100000px;*/
}

#main-container {
    width: 500px;
    aspect-ratio: 10 / 3;
    background-color: #ff26cc21;
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    transform: translateY(-30vh);
    z-index: 10;
}
#pressspace {
    transform: translateY(-30vh);
}
.particles {
    display: block;
    position: fixed;
    width: 30px;
    height: 30px;
    font-size: 24px;
}
#particle-plate {
    position: fixed;
    left: 50%;
    bottom: 100%;
    width: 5vw;
    height: 1vh;
    background-color: violet;
    pointer-events: none;
    overflow: visible;
    z-index: 5;
    transition: bottom 0.5s ease-in;
}
#heart-plate {
    position: fixed;
    left: 1%;
    bottom: 100%;
    width: 5vw;
    height: 5vh;
    background-image: url(/heartshape.png);
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    overflow: visible;
    z-index: 5;
    transition: bottom 0.5s ease-in;
}
.char-label {
    position: absolute;
    top: -30px; /* Positions it 30px above the container */
    left: 50%;
    transform: translateX(-50%); /* Centers the label horizontally */
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    font-size: 24px;
    color: rgb(0, 0, 0);
    border-radius: 4px;
    white-space: nowrap;
    pointer-events: none; 
}

/* Ensure the containers can anchor the absolute label */

#xth-container, #wry-container {
    position: absolute;
    width: 6vw;
    height: auto;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease-in-out, left 0.1s linear, bottom 0.5s ease-in;
    & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
#xth-container {
    bottom: 100%;
}
#wry-container {
    bottom: 0;
}
@keyframes particleFloat {
    0% {
        bottom: 100%;
        opacity: 1;
    }
    100% {
        bottom: -50px;
        opacity: 0;
    }
}

@keyframes wryWalk {
    0% {
        transform: translateY(10px) rotateZ(15deg);
    }
    25% {
        transform: translateY(-30px) rotateZ(-10deg);
    }
    50% {
        transform: translateY(-10px) rotateZ(-15deg);
    }
    75% {
        transform: translateY(-20px) rotateZ(10deg);
    }
    100% {
        transform: translateY(10px) rotateZ(15deg);
    }
}